<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Prediction of Mental Health State</title>
       <link href="http://127.0.0.1:5000/static/css/styles.css" rel="stylesheet" />
       <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
       
       <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
       <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />

    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <!-- <li class="nav-item"><a class="nav-link" href="#page-top">Mental Health</a></li> -->
                <a class="navbar-brand h1" href="#page-top">Prediction of Mental Health State</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">About</a></li>
                       
                    </ul>
                </div>
            </div>
        </nav>
<br>
<br>
<body style="background-image: url(static/picture4.jpg); background-size: 100% 100%;">
    <div class="jumbotron hero-nature">
        <h1 class="hero-title">Mental Health  Treatment using Drugs</h1>
        <p>
            Mental Health  Treatment (MHT) is a neuro developmental Mental health characterized by impairments in social communication and restricted, repetitive patterns of behavior, interests, or activities.  1 in 54 children in the United States is diagnosed with MHT. Early diagnosis and intervention play a crucial role in improving the outcomes of individuals with ASD. However, the diagnosis of ASD is a complex process that relies on clinical observations and assessments, which can be time-consuming and subjective. In recent years, machine learning (ML) techniques have shown promise in predicting ASD from various biomarkers, such as neuro imaging data and behavioral data.
        </p>
        <p>
            One of the best treatments for Mental HEalth can be hospitalized with activities.Homeopathy treats Mental Health effectively without causing any side effects. Homeopathy treatment for mental health  helps to manage symptoms and enable your child to cope with their daily activities. It helps to modify a child's behaviors and speech impairment by improving their mental capacities. Our expert homeopathy doctors at Homeocare International treat Mental Health using constitutional homeopathy treatment based on symptoms and individualization. It helps to reduce a child's hyperactivity, irritability, and aggressive behavior. However, when used in conjunction with conventional treatments, homeopathy may offer additional benefits to individuals with Mentally depressed or affected persons, such as improved sleep,reduced anxiety, and increased overall well-being.
        </p>
        

        </div>
        <style>
        div.jumbotron.hero-nature {
            color: white;
            text-shadow: 1px 3px #000001;
            text-align: center;
            background: url('/static/bg2.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            padding-top: 100px;
            padding-bottom: 100px;
        }
        </style>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <style>
        body {
            background-color: #dd1711;
        }
        .col-lg-4 {
            color: #ffffff;
        }
        </style>
</body>

</html>